.sidebar {
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -15px;
    min-height: 700px;
}

.sidebar-title {
    padding-left: 6%;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}
